.md-typeset .admonition, .md-typeset details {
  color: var(--md-admonition-fg-color);
  font-size: .74rem;
}

.md-typeset .admonition, .md-typeset details {
  background-color: var(--md-admonition-bg-color);
  border: .065rem solid #448aff;
}

.md-typeset .footnote-ref {
  font-size: 1.00em;
}

.md-typeset h1 {
  font-weight: 700;
  font-size: 1.5em;
  color: #000000de;
}

.md-typeset h2 {
  font-weight: 600;
  font-size: .85rem;
}

.md-content {
  max-width: 1024px;
}

:root {
  --md-admonition-icon--updated: url('data:image/svg+xml;charset=utf-8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0ZM1.5 8a6.5 6.5 0 1 0 13 0 6.5 6.5 0 0 0-13 0Zm7-3.25v2.992l2.028.812a.75.75 0 0 1-.557 1.392l-2.5-1A.751.751 0 0 1 7 8.25v-3.5a.75.75 0 0 1 1.5 0Z"/></svg>')
}
.md-typeset .admonition.updated,
.md-typeset details.updated {
  border-color: rgb(255, 255, 255);
  padding: 0 0.6rem 0.1rem;
  border-radius: 0px;
}

.md-typeset .admonition-title, .md-typeset summary {
  font-weight: normal;
}

.md-typeset .updated > .admonition-title,
.md-typeset .updated > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .updated > .admonition-title::before,
.md-typeset .updated > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--updated);
          mask-image: var(--md-admonition-icon--updated);
}